// Copyright (c) Visioglobe SAS. All rights reserved.
//
// This file is subject to the terms and conditions defined in
// file 'LICENSE.txt', which is part of this source code package.

#include "Project.xcconfig"

// Architectures
ONLY_ACTIVE_ARCH = NO

// Deployment
COPY_PHASE_STRIP = YES

// Build Options
VALIDATE_PRODUCT = YES

// Code Generation
GCC_OPTIMIZATION_LEVEL = s

// Apple LLVM
OTHER_CFLAGS = -DNS_BLOCK_ASSERTIONS=1

// Warnings
GCC_WARN_UNUSED_VARIABLE = YES
